<?xml version="1.0" ?>
<robot name="pallet_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="pallet_urdf" params="pallet_parent pallet_prefix *origin">

  <joint name="${pallet_prefix}joint" type="fixed">
    <xacro:insert_block name="origin" />
    <parent link="${pallet_parent}"/>
    <child link="${pallet_prefix}origin"/>
  </joint>


    <!-- Links -->
<!--
    <link name="${pallet_parent}"/>
-->
    <link name="${pallet_prefix}origin">
      <visual>
        <geometry>
          <mesh filename="package://casus_support/meshes/pallet/visual/pallet.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://casus_support/meshes/pallet/collision/pallet.dae"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="1.0" ixy="0" ixz="0"
                 iyy="1.0" iyz="0"
                 izz="1.0" />
        <mass value="100" />
      </inertial>
    </link>
  </xacro:macro>
</robot>
